@media screen and (min-width:320px) and (max-width: 900px){
	#bgvideo {
		display: none;
		}
	#fountain{
		z-index:1;
		position:fixed;
		opacity:.4;
		left:-10%;
		top:-0%;
		width:125%;
		height: 95%;
		display: inline;
		}
	.desaturate {
		opacity: 1;
	}

	.mlh {
			display:block;
			max-width:100px;
			min-width:60px;
			position: absolute;
			left:15px;
			top:0;
			width:10%;
			z-index:10000;
		}
}

@media screen and (min-width:901px) {
	#bgvideo{
		z-index:1;
		position:absolute;
		opacity:.7;
		left:-10%;
		top:-30%;
		width:125%;
		}
		#fountain{
			display: none;
		}

		.desaturate {
			opacity: 0.3;
			-webkit-transition: .2s ease-in-out;
			transition: all .1s ease;
		}

		.desaturate:hover {
			opacity: 1;
			z-index:1;
		}

		.mlh {
			display:block;
			max-width:100px;
			min-width:60px;
			position:fixed;
			right:20px;
			top:0;
			width:10%;
			z-index:10000;
		}
}

#text{
	position:relative;
	z-index:100;
	color: white;
	text-shadow: 1px 1px #555555;
}

#button{
	position:relative;
	z-index:100;
}

#wtot {
	color: white;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	line-height: 1.1;
	text-shadow: none;
}

#wtot:hover
{
	color: #1abc9c;
}
